body{
    background: #333;
    height:100vh;
    max-height:1550px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
font-family: 'Open Sans', sans-serif;
padding: 0;
margin:0;
}
main{
    margin:0;
    padding: 0;
    height:900px;
    width:1440px;
    background-color: rgb(43, 30, 30);
    background-image: url(images/bgback.png);
    position: relative;
}
.upper-bg{
    height:900px;
    width:1440px;
    display:flex;
    flex-direction: column;
    justify-self: space-between;
    position: relative;
    background-image: url(images/bgfront.png);
}
h1{
    font-family: 'Chela One';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color:rgb(255, 241, 241);
    margin: 25px auto auto 35px;
    opacity: 0.8;
    text-shadow: 6px 3px #a32020;
}
.chara-eyes{
position: absolute;
top:243px;
left: 0px;
}
.main-chara{
height: 150px;
width: 100px;
border-radius: 0 30px 30px 0;
position: absolute;
top:680px;
}
.main-chara-img{
    height: 150px;
}

.ground{
    background: #777;
    height: 100px;
    width: 100%;
}

footer{
    color: #ddd;
    margin:0;
    text-align: center;
    padding:24px 0 24px 0;
    }
    
    footer em{
    font-style: normal;
    font-weight: bold;
    }
  
    footer a, footer a:visited{
      color: #ddd
    }